
* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
  align-content: stretch;
}

header {
  background-color: #0A64B4;
  width: 40vw;
  height: 33vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

aside {
  width: 500px;
  height: 100vh;
  background-image: url("boat.jpg");
  background-size: 100% 800px;
}

h1 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 5px;
}

button {
  color: #000;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  height: 35%;
}

img {
  display: block;
}

article p {
  display: block;
  color: #000;
  font-weight: 600;
}

.anchor {
  height: 35%;
}

.boat {
  height: 45%;
}

.fish {
  height: 65%;
}

.trees {
  height: 30%;
}

.rope {
  height: 45%;
}

.water {
  height: 45%;
}

.sea {
  font-weight: 300;
  display: inline-block;
}

.profile {
  background-color: #757575;
  width: 20vw;
  height: 33vh;
}

.experience {
  background-color: #165B98;
  width: 20vw;
  height: 33vh;
}

.education {
  background-color: #5198CA;
  width: 20vw;
  height: 33vh;
}

.blog {
  background-color: #0A64B4;
  width: 20vw;
  height: 33vh;
}

.social {
  background-color: #CFD8DC;
  width: 20vw;
  height: 33vh;
}

.contact {
  background-color: #165B98;
  width: 20vw;
  height: 33vh;
}

.portfolio {
  background-color: #CFD8DC;
  width: 20vw;
  height: 33vh;
}