* {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article p {
  color: #000;
  display: block;
  font-weight: 600;
}

aside {
  background-image: url("boat.jpg");
  background-size: 100% 800px;
  height: 100vh;
  min-width: 450px;
  width: 40%;
}

body {
  align-content: center;
  display: flex;
  flex-direction: row;
}

button {
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 16px;
  height: 50px;
  margin: 0px 5px 5px 5px;
  width: 120px;
}

h1 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

h2 {
  clear: both;
  margin: 40px;
  text-align: center;
}

h3, .quote {
  padding-bottom: 15px;
}

header {
  background-color: #0A64B4;
  flex: 2 2 auto;
  height: 33.33333%;
  padding: 5px 0px 0px 25px;
  width: 464px;
}

input {
  align-self: center;
  display: flex;
  height: 45px;
  margin: 150px 10px 0px 10px;
}

img {
  display: block;
}

li {
  display: inline-block;
  float: right;
}

p {
  font-size: 16px;
}

section {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
  width: 60%;
}

span {
  margin-left: 10px;
}

svg {
  height: 38%;
}

.anchor {
  height: 32%;
  margin-bottom: 10px;
  margin-top: 10px
}

.blog {
  background-color: #0A64B4;
  flex: 1 1 auto;
  height: 33.33333%;
  width: 232px;
}

.boat {
  height: 45%;
}

.btn-prev {
  display: inline-block;
  float: left;
}

.btn-next {
  display: inline-block;
  float: right;
}

.catch {
  margin-top: -28px;
}

.contact {
  background-color: #CFD8DC;
  flex: 1 1 auto;
  height: 33.33333%;
  width: 232px;
}

.experience {
  margin-top: 10px;
}

.education {
  background-color: #5198CA;
  flex: 1 1 auto;
  height: 33.33333%;
  width: 232px;
}

.fish {
  height: 65%;
  margin-top: -20px;
}

.more {
  height: 15px;
  margin: 10px 10px 0px 0px;
}

.more3 {
  margin: 10px 0px 0px 0px;
}

.more2 {
  margin: 10px 0px 0px 0px;
}

.portfolio {
  background-color: #446677;
  flex: 1 1 auto;
  height: 33.33333%;
  width: 232px;
}

.profile {
  background-color: #757575;
  flex: 1 1 auto;
  height: 33.33333%;
  width: 232px;
}

.rope {
  height: 45%;
}

.sea {
  display: inline-block;
  font-weight: 300;
}

.social {
  background-color: #757575;
  flex: 1 1 auto;
  height: 33.33333%;
  width: 232px;
}

.trees {
  height: 30%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.water {
  height: 45%;
}

.wheel {
  background-color: #165B98;
  flex: 1 1 auto;
  height: 33.33333%;
  padding-top: 10px;
  width: 232px;
}


/*First Media Breakpoint*/
@media screen and (max-width: 922px) {

  .catch {
    margin-top: -15px;
  }

  .profile, .wheel, .education, .blog, .social, .contact,
  .portfolio {
    height: 100px;
  }

  .trees {
    margin-bottom: 10px;
  }
}


/*Second Media Breakpoint*/
@media screen and (max-width: 880px) {

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
  }

  .paragraph {
    display: none;
  }
}


/*Third Media Breakpoint*/
@media screen and (max-width: 425px) {

  aside {
    display: none;
    order: 1;
  }

  body {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  header {
    background-image: url("boat.jpg");
    background-size: 100% 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  section {
    order: 2;
    overflow-y: scroll;
    width: 100vw;
  }

  .catch {
    margin-top: -15px;
  }

  .paragraph {
    display: none;
  }

  .profile, .wheel, .education, .blog, .social, .contact,
  .portfolio {
    height: 100px;
  }

  .trees {
    margin-bottom: 10px;
  }
}