
* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
  height: 100vh;
  align-content: flex-start;
  overflow-y: scroll;
}

header {
  background-color: #0A64B4;
  width: 464px;
  height: 232px;
  flex: 2 2 auto;
  padding: 10px 0px 0px 25px;
}

aside {
  width: 500px;
  min-width: 450px;
  height: 100vh;
  background-image: url("boat.jpg");
  background-size: 100% 800px, cover;
}

h1 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

h2 {
  clear: both;
  text-align: center;
  margin: 20px;
}

h3, .quote {
  padding-bottom: 15px;
}
button {
  color: #000;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  height: 38%;
}

img {
  display: block;
}

article p {
  display: block;
  color: #000;
  font-weight: 600;
}

ul {
  display: inline-block;;
  float: right;
}

.catch {
  margin-top: -28px;
}

.anchor {
  height: 32%;
  margin-bottom: 10px;
  margin-top: 10px
}

.boat {
  height: 45%;
}

.fish {
  height: 65%;
  margin-top: -20px;
}

.trees {
  height: 30%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.rope {
  height: 45%;
}

.water {
  height: 45%;
}

.sea {
  font-weight: 300;
  display: inline-block;
}

.profile {
  background-color: #757575;
  width: 232px;
  height: 232px;
  flex: 1 1 auto;
}

.wheel {
  background-color: #165B98;
  width: 232px;
  height: 232px;
  flex: 1 1 auto;
  padding-top: 10px;
}

.experience {
  margin-top: 10px;
}

.education {
  background-color: #5198CA;
  width: 232px;
  height: 232px;
  flex: 1 1 auto;
}

.blog {
  background-color: #0A64B4;
  width: 232px;
  height: 232px;
  flex: 1 1 auto;
}

.social {
  background-color: #CFD8DC;
  width: 232px;
  height: 232px;
  flex: 1 1 auto;
}

.contact {
  background-color: #446677;
  width: 232px;
  height: 232px;
  flex: 1 1 auto;
}

.portfolio {
  background-color: #CFD8DC;
  width: 232px;
  height: 232px;
  flex: 1 1 auto;
}

/*First Media Breakpoint*/
@media screen and (max-width: 922px) {

.profile, .wheel, .education, .blog, .social, .contact,
.portfolio {
  height: 100px;
}

.trees {
  margin-bottom: 10px;
}

.catch {
  margin-top: -15px;
}

}